body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 14px
}

a,
body {
    color: #263245;
    text-decoration: none
}

:focus,
a,
input,
select,
textarea {
    outline: 0
}

.container,
img {
    max-width: 100%
}

.header_content,
.product_right_content,
body {
    font-family: Signika, sans-serif
}

.main_page,
.product_big {
    overflow: hidden
}

blockquote,
body,
button,
dd,
div,
dl,
dt,
embed,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
label,
li,
object,
ol,
p,
pre,
table,
td,
th,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    height: 100%
}

abbr,
fieldset,
img {
    border: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
    margin: 0;
    padding: 0
}

li,
ul {
    list-style: none
}

img {
    display: block
}

a:hover {
    color: #204384;
    text-decoration: none !important
}

input[type=checkbox],
input[type=radio] {
    outline: 0;
    border: 0;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0
}

input[type=button],
input[type=submit] {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none
}

::-moz-selection {
    background: #3cbc9f;
    color: #fff
}

::selection {
    background: #3cbc9f;
    color: #fff
}

.clearfix:after,
.clearfix:before,
.container::after,
.container::before,
section::after,
section::before {
    content: " ";
    display: table
}

.clearfix:after,
.container::after,
.container::before,
section::after,
section::before {
    clear: both
}

.main_page {
    position: relative;
    display: block;
    width: 100%
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px
}

.left_header {
    float: left;
    width: 44%
}

.page-header.fixed {
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 0 5px 0 rgba(168, 156, 168, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(168, 156, 168, 1);
    box-shadow: 0 0 5px 0 rgba(168, 156, 168, 1);
    z-index: 20
}

.page-header.fixed .cart ul,
.page-header.fixed .nav_wraper ul {
    margin: 0
}

.page-header.fixed .logo_txt {
    display: none
}

.center_header,
.center_header img,
.header_content .cart ul li {
    display: inline-block
}

.page-header.fixed .center_header {
    top: 9px
}

.header_content .left_header ul {
    float: left;
    padding: 24px 0
}

.header_content ul li {
    display: inline-block;
    position: relative;
    font-weight: 600;
    color: #010101;
    letter-spacing: .5px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 20px
}

.cart ul,
.nav_wraper ul {
    margin: 16px 0;
    padding: 20px 0;
    transition: all .3s linear
}

.header_content .cart ul {
    float: right
}

.header_content {
    position: relative
}

.right_header {
    float: right;
    width: 40%
}

.center_header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    top: 12px
}

.menulist li a {
    position: relative;
    display: block
}

.menulist li:after,
.menulist li:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: -17px;
    margin-top: -.5px;
    background: #000
}

.cart_icon,
.fxfavorites .favo_icon {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 4px
}

.fxcart .count {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    margin-left: 10px;
    background: #ececec;
    color: #212121;
    font-size: 22px
}

.menulist li a:hover {
    color: #000
}

.menulist li:before {
    left: -2.5px
}

.menulist li:after {
    right: 2.5px;
    background: #000;
    transition: width .8s cubic-bezier(.22, .61, .36, 1)
}

.menulist li:hover:before {
    background: #000;
    width: 100%;
    transition: width .5s cubic-bezier(.22, .61, .36, 1)
}

.menulist li:hover:after {
    background: 0 0;
    width: 100%;
    transition: 0s
}

.center_header .logo_txt {
    color: #010101;
    font-weight: 700;
    margin-top: 3px;
    transition: all .3s linear;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: .5px;
    display: inline-block;
    width: 100%
}

.fxfavorites .favo_icon {
    background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -3px -2px no-repeat;
    width: 22px;
    height: 21px
}

.fxfavorites .favo_icon.active {
    background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -3px -32px no-repeat
}

.page-header {
    border-bottom: 1px solid #ddd;
    background: #fff
}

.cart_icon {
    background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -30px -2px no-repeat;
    width: 17px;
    height: 20px
}

.burger_menu_icon {
    position: absolute;
    left: 0;
    top: 15px;
    cursor: pointer;
    display: none
}

.burger_menu_icon .barline {
    width: 30px;
    height: 3px;
    background: #000;
    margin: 5px 0;
    display: block
}

.fx_overlay {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0
}

.fx_overlay.active {
    display: block
}

.product_bg_txt {
    position: relative;
    display: block
}

.product_bg_txt:before {
    font-size: 190px;
    color: #f3f3f3;
    position: absolute;
    content: 'Blue Taylor';
    z-index: -1;
    left: -6%;
    line-height: 165px
}

.pdp_matrials_details li,
.pdpsmall_full,
.pro_item .item_img,
.product_big,
.product_wrapper {
    position: relative
}

.product_left_content {
    float: left;
    width: 55%;
    margin: 0 auto;
    text-align: center
}

.product_left_content img {
    display: inline-block
}

.product_right_content {
    float: left;
    width: 45%;
    color: #232323;
    margin-top: 50px;
    padding-right: 10%
}

.product_big .prd_slider {
    max-height: 450px;
    margin: 0 auto
}

.product_rating {
    margin-bottom: 15px
}

.pdp_start_icon.active {
    background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -55px -2px no-repeat
}

.pdp_start_icon {
    background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -84px -2px no-repeat;
    width: 22px;
    height: 20px;
    margin: 0 2px;
    display: inline-block
}

.product_small {
    max-width: 400px;
    margin: 0 auto
}

.product_small .slick-current .pdpsmall_full {
    border-bottom: 2px solid #212121
}

.pdpsmall_full {
    margin: 15px;
    cursor: pointer;
    padding: 10px
}

.pdpsmall_full .prosmall_img {
    max-height: 120px
}

.product_small .slick-list {
    padding: 0 !important
}

.product_right_content .product_name {
    font-size: 45px;
    color: #232323;
    line-height: 45px
}

.product_right_content .product_dis {
    margin: 30px 0;
    color: #333;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 25px
}

.product_right_content .size_txt {
    font-size: 16px;
    color: #333;
    text-transform: uppercase
}

.product_size .size_types .sizees {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
    background: #efefef;
    border: 2px solid #efefef;
    border-radius: 100%;
    display: inline-block;
    text-align: center
}

.product_size .size_types {
    margin: 15px 0 40px
}

.product_size .size_types .sizees.active {
    border-color: #2651dd;
    background: 0 0;
    color: #2651dd
}

.product_size .size_types .size__chart {
    font-size: 18px;
    color: #232323;
    text-decoration: underline;
    margin-left: 20px;
    cursor: pointer
}

.product_price .pro_regualr_price {
    font-size: 50px
}

.cart_buy_block button {
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    border: 0;
    border-radius: 4px;
    padding: 20px 0;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    text-transform: uppercase
}

.cart_buy_block .buy_btn {
    color: #fff;
    background: #355dd9;
    letter-spacing: 2px;
    width: 240px;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear
}

.cart_buy_block .buy_btn:hover {
    box-shadow: inset 300px 0 0 0 #153ebb;
    color: #fff
}

.cart_buy_block .whishlist_btn {
    background: #efefef;
    margin-left: 10px;
    width: 60px;
    height: 61px;
    text-align: center;
    vertical-align: top
}

.cart_buy_block .whishlist_btn .whishlist_icon {
    background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -3px -2px no-repeat;
    width: 22px;
    height: 21px;
    display: inline-block
}

.cart_buy_block .whishlist_btn .whishlist_icon.active,
.cart_buy_block .whishlist_btn .whishlist_icon:hover {
    background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -3px -32px no-repeat
}

.cart_buy_block {
    margin: 15px 0 50px
}

.product_content {
    padding-bottom: 80px
}

.product_size .size_types .sizees:first-child {
    margin-left: 0
}

.pdp_ratings {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    padding: 80px 0
}

.rating_left .rating_star {
    margin: 40px 0 10px
}

.rating_left {
    width: 30%;
    float: left;
    border-right: 1px solid #e1e1e1;
    text-align: center;
    color: #000;
    padding: 40px 0
}

.rating_left .rating_no {
    font-size: 130px;
    line-height: 80px
}

.rating_left .total_review {
    font-size: 20px;
    color: #333;
    font-weight: lighter;
    text-decoration: underline;
    cursor: pointer
}

.rating_right {
    float: right;
    width: 70%;
    padding: 18px 0 0 40px
}

.pdp_matrials_details li {
    width: 50%;
    float: left;
    padding: 40px 50px
}

.pdp_matrials_details li h2 {
    text-transform: uppercase;
    font-size: 17px;
    color: #333;
    margin-bottom: 10px;
    position: relative
}

.matrial_percentage .matrial_line {
    width: 18.6%;
    height: 5px;
    margin-right: .5%;
    display: inline-block;
    background: #fd7b0a
}

.matrial_percentage .matrial_line.active {
    background: #c5c5c5
}

.matrial_percentage {
    line-height: 0
}

.pro_item .item_img img {
    max-height: 261px;
    margin: 0 auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.pro_item:hover .item_img img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.pdp_matrials_details li h2 .martial_qualityno {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 17px;
    color: #333
}

.pro_item,
.sizechart_pop {
    position: relative
}

.related_pro_wraper {
    padding: 80px 0
}

.related_pro_item {
    margin-top: 30px
}

.related_pro_wraper .related_pro_heading {
    font-size: 30px;
    text-transform: uppercase;
    color: #000
}

.rel_item_list .pro_item_name {
    line-height: 30px;
    color: #000;
    font-size: 28px
}

.rel_item_list .pro_item {
    text-align: center;
    margin: 0 20px
}

.pro_item .item_img {
    padding: 20px;
    cursor: pointer
}

.pro_item button.pro_item_btn {
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    background: #355dd9;
    cursor: pointer;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-radius: 4px;
    border: 0;
    color: #fff;
    padding: 25px 30px
}

.pro_item:hover button.pro_item_btn {
    box-shadow: inset 300px 0 0 0 #153ebb;
    color: #fff
}

.pro_item .item_rating {
    padding: 23px 0
}

.footer_panel {
    background: #f4f4f4;
    color: #656464;
    padding: 50px 0 60px
}

.footer_left {
    float: left;
    width: 30%;
    text-align: center
}

.footer_logo img {
    text-align: center;
    margin: 0 auto
}

.foo_head_links,
.footersub_links li {
    margin-bottom: 20px
}

.footer_right {
    float: right;
    width: 55%
}

.footer_right .footernav {
    width: 33.33%;
    float: left;
    font-size: 22px
}

.foo_head_links {
    font-size: 22px;
    color: #000
}

.footersub_links li a {
    color: #888;
    font-weight: 300
}

.footersub_links li a:hover {
    color: #333;
    letter-spacing: .5px
}

.footerlat_copy_text {
    display: none
}

.footer_copy_txt,
.footerlat_copy_text {
    margin-top: 55px;
    font-size: 20px;
    font-weight: lighter
}

.sizechart_pop.active,
.sizechart_pop.active .fx_overlay {
    display: block
}

.sizechart_pop {
    top: 0;
    z-index: 101;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity .5s;
    display: none
}

.pop_wrappper {
    max-width: 500px;
    border-radius: 3px;
    padding: 50px 20px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99
}

.sizechart_pop .pop_wrappper h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center
}

.sizetable table {
    text-align: center;
    font-size: 16px;
    border: 1px solid #D5D6D9;
    border-collapse: collapse;
    margin: 0 auto
}

.sizetable table tr td,
.sizetable table tr th {
    padding: 10px 15px;
    border-bottom: 1px solid #D5D6D9
}

.sizetable table tr td:first-child,
.sizetable table tr th:first-child {
    border-right: 1px solid #D5D6D9
}

.close_sizechart {
    background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -85px -29px no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 19px;
    display: inline-block
}

@media (max-width:1024px) {
    .footer_right {
        width: 70%;
        padding-left: 1%
    }

    .product_right_content {
        padding-right: 1%
    }

    .pdp_matrials_details li {
        padding: 30px 20px
    }

    .pdp_ratings {
        padding: 20px 0
    }

    .rating_left .rating_no {
        font-size: 90px;
        line-height: 40px
    }

    .rel_item_list .pro_item_name {
        font-size: 22px;
        line-height: normal
    }

    .pro_item .item_rating {
        padding: 15px 0
    }

    .pro_item button.pro_item_btn {
        padding: 17px
    }

    .related_pro_wraper {
        padding: 40px 0
    }

    .header_content ul li {
        padding: 0 10px
    }

    .product_bg_txt:before {
        font-size: 145px
    }

    .rel_item_list .slick-arrow {
        position: absolute;
        top: 45%;
        text-indent: -9999px;
        border: 0;
        width: 12px;
        height: 20px;
        display: inline-block
    }

    .rel_item_list .slick-prev {
        background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -117px -33px no-repeat;
        left: 0
    }

    .rel_item_list .slick-next {
        background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -118px -3px no-repeat;
        right: 0
    }
}

@media (max-width:800px) {

    .center_header .logo_txt,
    .menulist li:after,
    .menulist li:before,
    .right_header .cart_txt {
        display: none
    }

    .product_right_content {
        margin-top: 20px
    }

    .product_right_content .product_name {
        font-size: 30px;
        line-height: 30px
    }

    .product_right_content .product_dis {
        font-size: 16px;
        margin: 10px 0
    }

    .product_size .size_types .sizees {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        margin: 0 3px
    }

    .product_size .size_types .size__chart {
        font-size: 14px;
        margin-left: 10px
    }

    .product_left_content {
        width: 50%
    }

    .product_big .prd_slider {
        max-height: 350px
    }

    .product_price .pro_regualr_price {
        font-size: 35px
    }

    .product_size .size_types {
        margin: 15px 0 30px
    }

    .cart_buy_block button {
        font-size: 16px;
        padding: 15px 0
    }

    .cart_buy_block .whishlist_btn {
        height: 48px;
        padding: 14px 0
    }

    .pdp_ratings {
        padding: 30px 0
    }

    .rating_wrapper {
        padding: 0 10px
    }

    .rating_left {
        width: 25%
    }

    .rating_right {
        width: 75%;
        padding-left: 0
    }

    .matrial_percentage .matrial_line {
        width: 18.2%
    }

    .header_content .right_header ul li {
        padding: 0
    }

    .fxcart .count {
        margin-left: 0;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        top: 5px
    }

    .header_content .left_header {
        width: 100%;
        float: none
    }

    .cart ul,
    .nav_wraper ul {
        margin: 0;
        padding: 15px 0
    }

    .center_header,
    .fxfavorites .favo_icon,
    .page-header.fixed .center_header {
        top: 5px
    }

    .burger_menu_icon {
        display: block
    }

    .cart_icon {
        margin-right: 0
    }

    .header_content .left_header ul {
        background: #fff;
        margin-top: 0;
        position: fixed;
        left: -95%;
        display: block;
        width: 90%;
        height: 100vh;
        color: #000;
        z-index: 999;
        border-top: 0;
        box-shadow: 0 0 10px #ccc;
        -moz-box-shadow: 0 0 10px #ccc;
        -webkit-box-shadow: 0 0 10px #ccc;
        -o-box-shadow: 0 0 10px #ccc;
        -ms-box-shadow: 0 0 10px #ccc;
        padding: 0
    }

    .header_content .left_header ul.active {
        top: 0;
        left: 0
    }

    .header_content ul.menulist li {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #000
    }
}

@media (max-width:767px) {

    .footer_left,
    .footer_right,
    .footer_right .footernav {
        width: 100%;
        float: none;
        font-size: 16px;
        padding-left: 0
    }

    .foo_head_links,
    .foo_slide {
        border-bottom: 1px solid #252525;
        padding: 10px 20px
    }

    .footersub_links li {
        margin-bottom: 10px
    }

    .foo_head_links,
    .footersub_links li:last-child {
        margin-bottom: 0
    }

    .footerlinks {
        border-top: 1px solid #000
    }

    .foo_slide {
        display: none
    }

    .foo_head_links {
        font-size: 18px;
        position: relative
    }

    .foo_head_links:after {
        content: '';
        background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -118px -3px no-repeat;
        width: 12px;
        height: 20px;
        display: inline-block;
        position: absolute;
        right: 21px;
        top: 11px
    }

    .footer_panel {
        padding: 20px 0
    }

    .footer_logo {
        margin: 0 auto 20px;
        width: 100px
    }

    .footer_copy_txt {
        display: none
    }

    .footerlat_copy_text {
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 14px
    }

    .foo_head_links.active:after {
        background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -141px -12px no-repeat;
        top: 17px;
        width: 20px;
        height: 20px
    }

    .cart_buy_block .buy_btn {
        width: 200px
    }

    .related_pro_wraper .related_pro_heading {
        font-size: 25px
    }
}

@media (max-width:667px) {

    .product_left_content,
    .product_right_content {
        width: 100%;
        float: none
    }

    .product_content {
        padding: 0
    }

    .pdp_matrials_details li {
        width: 100%;
        padding: 10px 0
    }

    .rating_left {
        padding: 20px 0 0
    }

    .product_size .size_types .sizees {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 13px
    }

    .pdp_matrials_details li h2,
    .pdp_matrials_details li h2 .martial_qualityno {
        font-size: 15px
    }

    .rating_left,
    .rating_right {
        width: 100%;
        float: none;
        border-right: 0
    }

    .related_pro_wraper .related_pro_heading {
        font-size: 20px
    }

    .related_pro_wraper {
        padding: 30px 0
    }

    .pro_item button.pro_item_btn {
        padding: 13px;
        font-size: 12px
    }

    .product_right_content .product_name {
        font-size: 25px;
        line-height: normal
    }

    .product_right_content .product_dis {
        font-size: 13px;
        line-height: normal
    }

    .product_right_content .size_txt {
        font-size: 14px
    }

    .cart_buy_block button {
        padding: 13px 0;
        font-size: 14px
    }

    .product_size .size_types .size__chart {
        font-size: 13px
    }

    .rating_left .total_review {
        font-size: 16px
    }

    .pdpsmall_full {
        margin: 10px
    }

    .cart_buy_block .whishlist_btn {
        height: 44px;
        padding: 13px 0
    }

    .rel_item_list .slick-list {
        padding: 0 13px
    }

    .header_content ul.menulist li {
        font-size: 16px;
        font-weight: lighter
    }

    .foo_head_links {
        padding: 10px
    }

    .foo_head_links:after {
        right: 11px
    }

    .pop_wrappper {
        max-width: 100%;
        width: 80%;
        padding: 20px
    }

    .sizechart_pop .pop_wrappper h2 {
        font-size: 14px
    }

    .product_big .slick-arrow {
        position: absolute;
        top: 45%;
        width: 20px;
        height: 20px;
        z-index: 5;
        display: inline-block;
        text-indent: -9999px;
        border: 1px solid #eee
    }

    .product_big .slick-prev {
        background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -32px -34px no-repeat #ccc;
        left: 0
    }

    .product_big .slick-next {
        background: url(https://tusharmd.github.io/UI-Developer-Test/images/sprite.png) -51px -34px no-repeat #ccc;
        right: 0
    }
}